<a href="{% url 'home:index' %}" style="text-decoration: none"  >Home</a>
&nbsp; |&nbsp;
<a  href="{% url 'emailffa:index' %}" style="text-decoration: none">emailffa</a>
&nbsp; |&nbsp;
<a  href="{% url 'jobsdb:index' %}" style="text-decoration: none"> jobs db</a>
&nbsp; |&nbsp;
<a  href="{% url 'admin:index' %}" style="text-decoration: none">Admin</a>
&nbsp;|&nbsp;
<a  href="https://github.com/ffapb/ffa-jobs-settings/" style="text-decoration: none">GitHub Link</a>
&nbsp;|&nbsp;
<a  href="{% url 'emailffa:search' %}" style="text-decoration: none">Search</a>


