<HTML>
<HEAD>
<title>FFA Private Bank - Jobs Email</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">

</HEAD>
<body style="MARGIN: 0px">


<table cellSpacing="0" cellPadding="0" width="779" align="center" border="0" >
	<TBODY>
		<tr>
	
			<td align="center">
				<table cellSpacing="0" cellPadding="0" width="779" border="0">
				<TBODY>
			<tr><td>
<a  href="{% url 'emailffa:index' %}" style="text-decoration: none">Home</a>&nbsp; |&nbsp;<a  href="{% url 'admin:index' %}" style="text-decoration: none">Admin</a>&nbsp;|&nbsp;<a  href="https://github.com/minerva22/ffa-jobs-emails/" style="text-decoration: none">GitHub Link</a>&nbsp;|&nbsp;<a  href="{% url 'emailffa:search' %}" style="text-decoration: none">Search</a></td>
</tr>
	
					
<tr>
						<td><br><br>
							<table cellSpacing="0" cellPadding="0" width="780" bgColor="#f1f1f1" border="0">
								<tr>
									<td align="left"><font size="5" color="#04366C"><b>FFA Private Bank sal</b></font>
									</td>

								</tr>
								<tr>
									<td align="right">&nbsp;</td>
								</tr>
							</table>
						</td>
					</tr>
				</TBODY>

				</table>
                        </td>
		</tr>
	<tr>
			<td>

				<table cellSpacing="0" cellPadding="0" border="0" align="center" width="779">
					<tr>
						<td align = "center" height="25" width ="200">
						<div align="center">
						<FONT color="#ffffff"><MARQUEE bgcolor="#04366C" direction="left" loop="50" width="780" scrolldelay="150">
						<STRONG>FFA Private Bank Jobs Email</STRONG></MARQUEE></FONT></DIV>
						</td>

				</table>
			</td>
		</tr>

		<tr>
			<td height="12">
			</td>
		</tr>



      	<tr>
			<td>

				<table cellSpacing="12px" cellPadding="0" width="779" align="center" border="0">
					<tr><td>
					{% include "emailffa/tag_list.html" with object_list=tags only %}
						
						

					</td></tr>

					

					<tr><td>
			</td></tr>
	



</tr>
<tr></tr>


<tr><td><h4>All Jobs</h4><a href=" ?asjson=true" style="text-decoration: none">asjson</a></td></tr>
					{% if latest_job_list %}
    						<ul>
   					 {% for job in latest_job_list %}
					
    					 <tr> 
						<td>  <li><a href="{% url 'emailffa:detail' job.id %}" style="text-decoration: none">id: {{ job.id }} &nbsp;&nbsp;{{ job.job_text }} </a>
</td>
     					{% endfor %}
  						 </ul>
					{% else %}
    					<p>No jobs are available.</p>
					{% endif %}
</td></tr>


<tr><td>
<h4>


	 
							
</h4>


</td></tr>
					<tr>
						<td>
							<table align="center"><tr>
									
						
										
										

										<td>
									        {% if is_paginated %}
 										<nav>
   						 				  

      										{% if page_obj.has_previous %}

        									
        						 			 <a href="?page={{ page_obj.previous_page_number }}"><span>Previous</span> </a>
       						       				 
     										 {% else %}
        									
        									  <a href="#"><span>Previous</span></a>
          
       						       				 
										</td>

      										{% endif %}

										<td>
     										 {% for page in paginator.page_range %}
       						        			 {% if page == page_obj.number %}
										 {% endif %}
										
         									 <a href="?page={{ page }}">{{ page }}</a>
       									
     						        			{% endfor %}

										<td>	
     							 			 {% if page_obj.has_next %}
       									 
          								          <a href="?page={{ page_obj.next_page_number }}"><span>Next</span></a>
            
          
        
      										 {% else %}
        									 {% if not page_obj.has_next %}
										 {% endif %}
          									 <a href="#"><span>Next</span>{% endif %}
    										
  										</nav>
									        {% endif %}
       						      				</td>
										

							</tr></table>
						</td>


					</tr>

       						

				</table>
			</td>
		</tr>





		<tr>
			<td>
				<table height="50" cellSpacing="0" cellPadding="0" width="100%" border="0">
					<tr>
						<td height="12"  style=" BORDER-top: #ffffff 1px solid; "></td>
					</tr>

					<tr>
						<td height="4"  style=" BORDER-top: #ffffff 1px solid; " bgColor="#04366C"></td>
					</tr>
<tr align="right">
<td>Version: {{version}}</td>
</tr>
					<tr>
						<td bgColor="#f1f1f1" align ="right"><FONT color="#04366C" size="2">&nbsp;Developed by: Minerva Moawad - 2017&nbsp;</FONT></td>
					</tr>

				</table>
			</td>
		</tr>
		
	</TBODY>
</table>

</body>

</html>
