<HTML>
<HEAD>
<title>FFA Private Bank - Jobs Email</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">

</HEAD>
<body style="MARGIN: 0px">


<table cellSpacing="0" cellPadding="0" width="779" align="center" border="0">
<TBODY>
<tr>
<td class="left-shadow"><IMG height="1" src="images/ghost.gif" width="11">
</td>
<td align="center">
<table cellSpacing="0" cellPadding="0" width="779" border="0">
<TBODY>
<tr>
<td>
<table cellSpacing="0" cellPadding="0" width="780" bgColor="#f1f1f1" border="0">
<tr>
<td align="left"><font size="5" color="#04366C"><b>FFA Private Bank sal</b></font></td>

</tr>
<tr>
<td align="right">&nbsp;</td>
</tr>
</table>
</td>
</tr>
</table>



<table cellSpacing="0" cellPadding="0" border="0" align="center" width="*">
<tr>
<td align = "center" height="25">
<div align="center">
<FONT color="#ffffff"><MARQUEE bgcolor="#04366C" direction="left" loop="50" width="780" scrolldelay="150">
<STRONG>FFA Private Bank Jobs Email</STRONG></MARQUEE></FONT></DIV>
</td>
</tr>
</table>

<table cellSpacing="0" cellPadding="0" width="779" align="center" border="0">

{% if latest_job_list %}
    <ul>
    {% for job in latest_job_list %}
     <tr> <td>  <li><a href="{% url 'emailffa:detail' job.id %}">{{ job.job_text }}</a></li></td><td>&nbsp;&nbsp;&nbsp;&nbsp; m.moawad@ffaprivatebank.com </td></tr>
    {% endfor %}
    </ul>
{% else %}
    <p>No jobs are available.</p>
{% endif %}
</table>
</body>

<table height="50" cellSpacing="0" cellPadding="0" width="100%" border="0">
<tr>
<td height="12"  style=" BORDER-top: #ffffff 1px solid; "></td>
</tr>

<tr>
<td height="4"  style=" BORDER-top: #ffffff 1px solid; " bgColor="#04366C"></td>
</tr>
<tr>
<td bgColor="#f1f1f1" align ="right"><FONT color="#04366C" size="2">&nbsp;Developed by: Systems & IT Department - 2017&nbsp;</FONT.</td>
</tr>

</table>

</table>



</html>
