<HTML>
<HEAD>
<title>FFA Private Bank - Jobs Email</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<style type="text/css">

A:link { COLOR: black; TEXT-DECORATION: none; font-weight: normal }
A:visited { COLOR: black; TEXT-DECORATION: none; font-weight: normal }
A:active { COLOR: black; TEXT-DECORATION: none }
A:hover {  background-color: red; TEXT-DECORATION: none; font-weight: none }

</style>
</HEAD>
<body style="MARGIN: 0px">


<table cellSpacing="0" cellPadding="0" width="779" align="center" border="0" >
	<TBODY>
		<tr>
	
			<td align="center"><br><br>
				<table cellSpacing="0" cellPadding="0" width="779" border="0">
				<TBODY>
			<tr><td>
      {% include 'emailffa/head.html' %}
</td>
</tr>
	
					
<tr>
						<td>
									 {% include 'emailffa/head2.html' %}

								
						</td>
					</tr>
				</TBODY>

				</table>
                        </td>
		</tr>
	<tr>
			<td>

				<table cellSpacing="0" cellPadding="0" border="0" align="center" width="779">
					<tr>
						<td align = "center" height="25" width ="200">
						<div align="center">
						<FONT color="#ffffff"><MARQUEE bgcolor="#04366C" direction="left" loop="50" width="780" scrolldelay="150">
						<STRONG>FFA Private Bank Jobs Email</STRONG></MARQUEE></FONT></DIV>
						</td>

				</table>
			</td>
		</tr>

		<tr>
			<td height="12">
			</td>
		</tr>
	
      	<tr>
			<td>

				<table cellSpacing="12px" cellPadding="0" width="779" align="center" border="0">
					
<tr>
{% block content %}
  <form method="get">
    {{ filter.form.as_p }}
    <button type="submit">Search</button> 
  
  
  <ul>
  {% for job in filter.qs %}
    <li><a href="{% url 'emailffa:detail' job.id %}" style="text-decoration: none"> {{ job.id }}-{{ job.job_text }}</a> </li>
  {% endfor %}
  </ul>
{% endblock %} 

</form>
 <a href="{% url 'emailffa:search' %}">
   <button>Reset</button>
</a>

</tr>

</tr>

					

					<tr>
						<td>
							<table align="center"><tr>
									
						
										
										

										<td>
									        {% if is_paginated %}
 										<nav>
   						 				  

      										{% if page_obj.has_previous %}

        									
        						 			 <a href="?page={{ page_obj.previous_page_number }}"><span>Previous</span> </a>
       						       				 
     										 {% else %}
        									
        									  <a href="#"><span>Previous</span></a>
          
       						       				 
										</td>

      										{% endif %}

										<td>
     										 {% for page in paginator.page_range %}
       						        			 {% if page == page_obj.number %}
										 {% endif %}
										
         									 <a href="?page={{ page }}">{{ page }}</a>
       									
     						        			{% endfor %}

										<td>	
     							 			 {% if page_obj.has_next %}
       									 
          								          <a href="?page={{ page_obj.next_page_number }}"><span>Next</span></a>
            
          
        
      										 {% else %}
        									 {% if not page_obj.has_next %}
										 {% endif %}
          									 <a href="#"><span>Next</span>{% endif %}
    										
  										</nav>
									        {% endif %}
       						      				</td>
										

							</tr></table>
						</td>


					</tr>

       						

				</table>
			</td>
		</tr>





		<tr>
			<td>
				<table height="50" cellSpacing="0" cellPadding="0" width="100%" border="0">
					<tr>
						<td height="12"  style=" BORDER-top: #ffffff 1px solid; "></td>
					</tr>

					<tr>
						<td height="4"  style=" BORDER-top: #ffffff 1px solid; " bgColor="#04366C"></td>
					</tr>
		{% include 'emailffa/footer.html' %}
